---
# MariaDB Role - Security Tasks

- name: MariaDB | Secure | Set root password
  community.mysql.mysql_user:
    name: root
    password: "{{ mariadb_root_password }}"
    host: "{{ item }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock
    state: present
  loop:
    - localhost
    - 127.0.0.1
    - ::1
  no_log: true
  tags: [mariadb, security]

- name: MariaDB | Secure | Remove anonymous users
  community.mysql.mysql_user:
    name: ""
    host_all: true
    state: absent
    login_unix_socket: /var/run/mysqld/mysqld.sock
  tags: [mariadb, security]

- name: MariaDB | Secure | Remove test database
  community.mysql.mysql_db:
    name: test
    state: absent
    login_unix_socket: /var/run/mysqld/mysqld.sock
  tags: [mariadb, security]
