---
- name: Converge
  hosts: all
  become: true

  pre_tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600

  roles:
    - role: firewall
      vars:
        firewall_relax_idempotence: true
        ssh_allowed_ips:
          - "192.168.1.0/24"
