---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: firewall-debian13
    image: geerlingguy/docker-debian13-ansible:latest
    pre_build_image: true
    privileged: true
    command: /lib/systemd/systemd
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    tmpfs:
      - /run
      - /tmp

provisioner:
  name: ansible
  config_options:
    defaults:
      callbacks_enabled: profile_tasks, timer
      stdout_callback: yaml
  env:
    ANSIBLE_ROLES_PATH: ../../
    ANSIBLE_REMOTE_TMP: ${ANSIBLE_REMOTE_TMP:-/var/tmp/ansible-tmp}
    ANSIBLE_LOCAL_TMP: ${ANSIBLE_LOCAL_TMP:-/var/tmp/ansible-tmp}

verifier:
  name: ansible
