; PHP-FPM WordPress Pool Configuration
; Managed by Ansible - nginx_wordpress role

[wordpress]
user = {{ nginx_wordpress_nginx_user }}
group = {{ nginx_wordpress_nginx_group }}

listen = /run/php/php{{ nginx_wordpress_php_version }}-fpm.sock
listen.owner = {{ nginx_wordpress_nginx_user }}
listen.group = {{ nginx_wordpress_nginx_group }}

pm = {{ nginx_wordpress_php_fpm_pm }}
pm.max_children = {{ nginx_wordpress_php_fpm_max_children }}
pm.start_servers = {{ nginx_wordpress_php_fpm_start_servers }}
pm.min_spare_servers = {{ nginx_wordpress_php_fpm_min_spare_servers }}
pm.max_spare_servers = {{ nginx_wordpress_php_fpm_max_spare_servers }}
pm.max_requests = {{ nginx_wordpress_php_fpm_max_requests }}
pm.process_idle_timeout = {{ nginx_wordpress_php_fpm_process_idle_timeout }}

php_admin_value[memory_limit] = {{ nginx_wordpress_php_memory_limit }}
php_admin_value[upload_max_filesize] = {{ nginx_wordpress_php_upload_max_filesize }}
php_admin_value[post_max_size] = {{ nginx_wordpress_php_post_max_size }}
php_admin_value[max_execution_time] = {{ nginx_wordpress_php_max_execution_time }}
