---
# Nginx WordPress Role - Configuration Tasks

- name: Nginx WordPress | Configure | Create web root directory
  ansible.builtin.file:
    path: "{{ nginx_wordpress_web_root }}"
    state: directory
    owner: "{{ nginx_wordpress_nginx_user }}"
    group: "{{ nginx_wordpress_nginx_group }}"
    mode: '0755'
  tags: [nginx-wordpress, config, directories]

- name: Nginx WordPress | Configure | Create Ansible tmp directory for www-data
  ansible.builtin.file:
    path: /var/www/.ansible/tmp
    state: directory
    owner: "{{ nginx_wordpress_nginx_user }}"
    group: "{{ nginx_wordpress_nginx_group }}"
    mode: '0700'
  tags: [nginx-wordpress, config, directories]

- name: Nginx WordPress | Configure | Deploy Nginx site configuration
  ansible.builtin.template:
    src: nginx-wordpress.conf.j2
    dest: "{{ nginx_wordpress_nginx_sites_available }}/wordpress.conf"
    owner: root
    group: root
    mode: '0644'
  register: nginx_config_deployed
  tags: [nginx-wordpress, nginx, config]

- name: Nginx WordPress | Configure | Enable Nginx site
  ansible.builtin.file:
    src: "{{ nginx_wordpress_nginx_sites_available }}/wordpress.conf"
    dest: "{{ nginx_wordpress_nginx_sites_enabled }}/wordpress.conf"
    state: link
  tags: [nginx-wordpress, nginx, config]

- name: Nginx WordPress | Configure | Remove default Nginx site
  ansible.builtin.file:
    path: "{{ nginx_wordpress_nginx_sites_enabled }}/default"
    state: absent
  tags: [nginx-wordpress, nginx, config]

- name: Nginx WordPress | Configure | Validate Nginx configuration
  ansible.builtin.command:
    cmd: nginx -t
  changed_when: false
  when: nginx_config_deployed is changed
  tags: [nginx-wordpress, nginx, config, validate]

- name: Nginx WordPress | Configure | Reload Nginx if configuration is valid
  ansible.builtin.systemd:
    name: nginx
    state: reloaded
  when: nginx_config_deployed is changed
  tags: [nginx-wordpress, nginx, config]

- name: Nginx WordPress | Configure | Deploy PHP-FPM pool configuration
  ansible.builtin.template:
    src: php-fpm-wordpress.conf.j2
    dest: "{{ nginx_wordpress_php_fpm_pool_dir }}/wordpress.conf"
    owner: root
    group: root
    mode: '0644'
  notify: restart php-fpm
  tags: [nginx-wordpress, php, config]

- name: Nginx WordPress | Configure | Download WordPress
  ansible.builtin.command:
    cmd: "{{ nginx_wordpress_wpcli_path }} core download --path={{ nginx_wordpress_web_root }}"
    creates: "{{ nginx_wordpress_web_root }}/wp-config-sample.php"
  become_user: "{{ nginx_wordpress_nginx_user }}"
  when: nginx_wordpress_install_wordpress
  tags: [nginx-wordpress, wordpress]

- name: Nginx WordPress | Configure | Create wp-config.php
  ansible.builtin.template:
    src: wp-config.php.j2
    dest: "{{ nginx_wordpress_web_root }}/wp-config.php"
    owner: "{{ nginx_wordpress_nginx_user }}"
    group: "{{ nginx_wordpress_nginx_group }}"
    mode: '0640'
  when: nginx_wordpress_install_wordpress
  tags: [nginx-wordpress, wordpress, config]

- name: Nginx WordPress | Configure | Set WordPress permissions
  ansible.builtin.file:
    path: "{{ nginx_wordpress_web_root }}"
    owner: "{{ nginx_wordpress_nginx_user }}"
    group: "{{ nginx_wordpress_nginx_group }}"
    recurse: true
  when: nginx_wordpress_install_wordpress
  tags: [nginx-wordpress, wordpress, permissions]

- name: Nginx WordPress | Configure | Check if WordPress is installed
  ansible.builtin.command:
    cmd: "{{ nginx_wordpress_wpcli_path }} core is-installed --path={{ nginx_wordpress_web_root }}"
  become_user: "{{ nginx_wordpress_nginx_user }}"
  register: wp_is_installed
  changed_when: false
  failed_when: false
  when: nginx_wordpress_install_wordpress
  tags: [nginx-wordpress, wordpress]

- name: Nginx WordPress | Configure | Install WordPress core
  ansible.builtin.command:
    cmd: >
      {{ nginx_wordpress_wpcli_path }} core install
      --path={{ nginx_wordpress_web_root }}
      --url={{ nginx_wordpress_site_url | default('http://' + ansible_host) }}
      --title="{{ nginx_wordpress_site_title }}"
      --admin_user={{ nginx_wordpress_admin_user }}
      --admin_password={{ nginx_wordpress_admin_password }}
      --admin_email={{ nginx_wordpress_admin_email }}
      --skip-email
  become_user: "{{ nginx_wordpress_nginx_user }}"
  when:
    - nginx_wordpress_install_wordpress
    - wp_is_installed.rc != 0
  tags: [nginx-wordpress, wordpress]
