---
# Nginx WordPress Role - Configuration Tasks

- name: Nginx WordPress | Configure | Create web root directory
  ansible.builtin.file:
    path: "{{ nginx_wordpress_web_root }}"
    state: directory
    owner: "{{ nginx_wordpress_nginx_user }}"
    group: "{{ nginx_wordpress_nginx_group }}"
    mode: '0755'
  tags: [nginx-wordpress, config, directories]

- name: Nginx WordPress | Configure | Deploy Nginx site configuration
  ansible.builtin.template:
    src: nginx-wordpress.conf.j2
    dest: "{{ nginx_wordpress_nginx_sites_available }}/wordpress.conf"
    owner: root
    group: root
    mode: '0644'
    validate: nginx -t -c %s
  notify: reload nginx
  tags: [nginx-wordpress, nginx, config]

- name: Nginx WordPress | Configure | Enable Nginx site
  ansible.builtin.file:
    src: "{{ nginx_wordpress_nginx_sites_available }}/wordpress.conf"
    dest: "{{ nginx_wordpress_nginx_sites_enabled }}/wordpress.conf"
    state: link
  notify: reload nginx
  tags: [nginx-wordpress, nginx, config]

- name: Nginx WordPress | Configure | Remove default Nginx site
  ansible.builtin.file:
    path: "{{ nginx_wordpress_nginx_sites_enabled }}/default"
    state: absent
  notify: reload nginx
  tags: [nginx-wordpress, nginx, config]

- name: Nginx WordPress | Configure | Deploy PHP-FPM pool configuration
  ansible.builtin.template:
    src: php-fpm-wordpress.conf.j2
    dest: "{{ nginx_wordpress_php_fpm_pool_dir }}/wordpress.conf"
    owner: root
    group: root
    mode: '0644'
  notify: restart php-fpm
  tags: [nginx-wordpress, php, config]

- name: Nginx WordPress | Configure | Download WordPress
  ansible.builtin.command:
    cmd: "{{ nginx_wordpress_wpcli_path }} core download --path={{ nginx_wordpress_web_root }}"
    creates: "{{ nginx_wordpress_web_root }}/wp-config-sample.php"
  become_user: "{{ nginx_wordpress_nginx_user }}"
  when: nginx_wordpress_install_wordpress
  tags: [nginx-wordpress, wordpress]

- name: Nginx WordPress | Configure | Create wp-config.php
  ansible.builtin.template:
    src: wp-config.php.j2
    dest: "{{ nginx_wordpress_web_root }}/wp-config.php"
    owner: "{{ nginx_wordpress_nginx_user }}"
    group: "{{ nginx_wordpress_nginx_group }}"
    mode: '0640'
  when: nginx_wordpress_install_wordpress
  tags: [nginx-wordpress, wordpress, config]

- name: Nginx WordPress | Configure | Set WordPress permissions
  ansible.builtin.file:
    path: "{{ nginx_wordpress_web_root }}"
    owner: "{{ nginx_wordpress_nginx_user }}"
    group: "{{ nginx_wordpress_nginx_group }}"
    recurse: true
  when: nginx_wordpress_install_wordpress
  tags: [nginx-wordpress, wordpress, permissions]
