---
- name: reload sysctl
  ansible.builtin.command: sysctl -p /etc/sysctl.d/99-hardening.conf
  changed_when: true

- name: restart auditd
  ansible.builtin.service:
    name: auditd
    state: restarted
