---
- name: reload sysctl
  ansible.builtin.command: sysctl -p /etc/sysctl.d/99-hardening.conf
  changed_when: true
  failed_when: false  # Don't fail if some kernel parameters don't exist (Docker containers)

- name: restart auditd
  ansible.builtin.service:
    name: auditd
    state: restarted
  failed_when: false  # Don't fail if auditd restart fails (may happen on some kernels)

- name: update initramfs
  ansible.builtin.command: update-initramfs -u -k all
  changed_when: true
  listen: update grub

- name: update grub
  ansible.builtin.command: update-grub
  changed_when: true
  notify: reboot required

- name: reboot required
  ansible.builtin.set_fact:
    ansible_reboot_required: true
    cacheable: true
