[Unit]
Description=OpenBao - Secrets Management
Documentation=https://openbao.org/docs/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ openbao_config_dir }}/config.hcl

[Service]
Type=notify
User={{ openbao_user }}
Group={{ openbao_group }}
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
NoNewPrivileges=yes
ExecStart={{ openbao_install_dir }}/bao server -config={{ openbao_config_dir }}/config.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart={{ openbao_systemd_restart }}
RestartSec={{ openbao_systemd_restart_sec }}
TimeoutStopSec=30
LimitNOFILE={{ openbao_systemd_limit_nofile }}
{% if not openbao_disable_mlock %}
LimitMEMLOCK={{ openbao_systemd_limit_memlock }}
{% endif %}

[Install]
WantedBy=multi-user.target
