# GRUB Drop-in Configuration - AppArmor Kernel Parameters
# Managed by Ansible - apparmor role
#
# This file is sourced by update-grub when generating /boot/grub/grub.cfg
# Location: /etc/default/grub.d/99-apparmor.cfg
#
# Purpose: Enable AppArmor kernel parameters
# - apparmor=1: Enable AppArmor from boot
# - security=apparmor: Set AppArmor as the default security module

GRUB_CMDLINE_LINUX_DEFAULT="${GRUB_CMDLINE_LINUX_DEFAULT} {{ apparmor_grub_cmdline }}"
