---
# Prometheus Role - Handlers

- name: restart prometheus
  ansible.builtin.systemd:
    name: prometheus
    state: restarted
    daemon_reload: true
  tags: [prometheus]
- name: reload prometheus
  ansible.builtin.systemd:
    name: prometheus
    state: reloaded
  tags: [prometheus]
- name: validate prometheus config
  ansible.builtin.command: "{{ prometheus_install_dir }}/promtool check config {{ prometheus_config_dir }}/prometheus.yml"
  register: prometheus_config_check
  changed_when: false
  tags: [prometheus]
