---
# Promtail Role - Installation Tasks (Multi-platform orchestrator)

- name: Promtail | Install | Create Promtail group
  ansible.builtin.group:
    name: "{{ promtail_group }}"
    state: present
    system: true
  tags: [promtail, user]

- name: Promtail | Install | Create Promtail user
  ansible.builtin.user:
    name: "{{ promtail_user }}"
    group: "{{ promtail_group }}"
    system: true
    shell: /usr/sbin/nologin
    home: "{{ promtail_positions_dir }}"
    createhome: false
  tags: [promtail, user]

- name: Promtail | Install | Add Promtail user to adm group
  ansible.builtin.user:
    name: "{{ promtail_user }}"
    groups: adm
    append: true
  tags: [promtail, user]

- name: Promtail | Install | Include OS-specific installation tasks
  ansible.builtin.include_tasks: "install-{{ ansible_os_family }}.yml"
  when: promtail_install_method in ['apt', 'yum', 'dnf']
  tags: [promtail, install, packages]
