---
# Promtail Role - Installation Tasks

- name: Promtail | Install | Create Promtail group
  ansible.builtin.group:
    name: "{{ promtail_group }}"
    state: present
    system: true
  tags: [promtail, user]

- name: Promtail | Install | Create Promtail user
  ansible.builtin.user:
    name: "{{ promtail_user }}"
    group: "{{ promtail_group }}"
    system: true
    shell: /usr/sbin/nologin
    home: "{{ promtail_positions_dir }}"
    createhome: false
  tags: [promtail, user]

- name: Promtail | Install | Add Promtail user to adm group
  ansible.builtin.user:
    name: "{{ promtail_user }}"
    groups: adm
    append: true
  tags: [promtail, user]

- name: Promtail | Install | Install from APT repository
  when: promtail_install_method == 'apt'
  module_defaults:
    ansible.builtin.apt:
      state: present
      update_cache: true
  block:
    - name: Promtail | Install | Install APT dependencies
      ansible.builtin.apt:
        name: "{{ promtail_apt_dependencies }}"
      tags: [promtail, packages]

    - name: Promtail | Install | Add Grafana APT repository (DEB822)
      ansible.builtin.deb822_repository:
        name: grafana
        types: [deb]
        uris: https://apt.grafana.com
        suites: stable
        components: [main]
        signed_by: "{{ promtail_gpg_key_url }}"
        state: present
      tags: [promtail, packages]

    - name: Promtail | Install | Install Promtail
      ansible.builtin.apt:
        name: "promtail"
      tags: [promtail, packages]
