---
# AppArmor Role - Configuration Tasks

- name: AppArmor | Configure | Ensure GRUB drop-in directory exists
  ansible.builtin.file:
    path: /etc/default/grub.d
    state: directory
    owner: root
    group: root
    mode: '0755'
  when: apparmor_manage_grub | default(true)
  tags: [apparmor, grub, config, molecule-notest]

- name: AppArmor | Configure | Deploy GRUB drop-in for AppArmor parameters
  ansible.builtin.template:
    src: grub-apparmor.cfg.j2
    dest: /etc/default/grub.d/99-apparmor.cfg
    owner: root
    group: root
    mode: '0644'
  when: apparmor_manage_grub | default(true)
  notify:
    - update grub
    - reboot required
  tags: [apparmor, grub, config, molecule-notest]

- name: AppArmor | Configure | Create custom profiles directory
  ansible.builtin.file:
    path: "{{ apparmor_local_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  tags: [apparmor, profiles, config]

- name: AppArmor | Configure | Deploy custom AppArmor profile for SSH
  ansible.builtin.template:
    src: apparmor.d/usr.sbin.sshd.j2
    dest: "{{ apparmor_profiles_dir }}/usr.sbin.sshd"
    owner: root
    group: root
    mode: '0644'
  notify: reload apparmor profiles
  tags: [apparmor, profiles, ssh, config]

- name: AppArmor | Configure | Deploy custom AppArmor profile for Fail2ban
  ansible.builtin.template:
    src: apparmor.d/usr.bin.fail2ban-server.j2
    dest: "{{ apparmor_profiles_dir }}/usr.bin.fail2ban-server"
    owner: root
    group: root
    mode: '0644'
  notify: reload apparmor profiles
  when: apparmor_enable_fail2ban_profile
  tags: [apparmor, profiles, fail2ban, config]

- name: AppArmor | Configure | Load AppArmor profiles
  ansible.builtin.command: "{{ apparmor_parser_command }} -r {{ apparmor_profiles_dir }}/{{ item }}"
  loop:
    - usr.sbin.sshd
    - usr.bin.fail2ban-server
  when: apparmor_enable_fail2ban_profile or item != 'usr.bin.fail2ban-server'
  failed_when: false
  changed_when: false
  tags: [apparmor, profiles, config, molecule-notest]

- name: AppArmor | Configure | Set AppArmor profiles to enforce mode
  ansible.builtin.command: "{{ apparmor_enforce_command }} {{ apparmor_profiles_dir }}/{{ item }}"
  loop: "{{ apparmor_profiles }}"
  when: apparmor_enforce_mode
  failed_when: false
  changed_when: false
  tags: [apparmor, profiles, enforce, config, molecule-notest]

- name: AppArmor | Configure | Set AppArmor profiles to complain mode
  ansible.builtin.command: "{{ apparmor_complain_command }} {{ apparmor_profiles_dir }}/{{ item }}"
  loop: "{{ apparmor_profiles }}"
  when: not apparmor_enforce_mode
  failed_when: false
  changed_when: false
  tags: [apparmor, profiles, complain, config, molecule-notest]

- name: AppArmor | Configure | Create AppArmor monitoring script
  ansible.builtin.template:
    src: aa-monitor.sh.j2
    dest: /usr/local/bin/aa-monitor
    owner: root
    group: root
    mode: '0755'
  when: apparmor_monitoring_enabled
  tags: [apparmor, monitoring, config]

- name: AppArmor | Configure | Configure AppArmor log rotation
  ansible.builtin.template:
    src: apparmor-logrotate.j2
    dest: /etc/logrotate.d/apparmor
    owner: root
    group: root
    mode: '0644'
  when: apparmor_logrotate_enabled
  tags: [apparmor, logging, config]
