---
# AppArmor Role - Configuration Tasks

- name: AppArmor | Configure | Check GRUB cmdline for AppArmor flags
  ansible.builtin.command: >-
    grep -Eq 'GRUB_CMDLINE_LINUX_DEFAULT="[^"]*(apparmor=1|security=apparmor)' {{ apparmor_grub_config_file }}
  register: apparmor_grub_flags
  changed_when: false
  failed_when: false
  when: apparmor_manage_grub | default(true)
  tags: [apparmor, grub, config]

- name: AppArmor | Configure | Append AppArmor flags to GRUB cmdline
  ansible.builtin.lineinfile:
    path: "{{ apparmor_grub_config_file }}"
    regexp: ^GRUB_CMDLINE_LINUX_DEFAULT="(.*)"
    line: 'GRUB_CMDLINE_LINUX_DEFAULT="\1 {{ apparmor_grub_cmdline }}"'
    backrefs: true
  when:
    - apparmor_manage_grub | default(true)
    - apparmor_grub_flags.rc != 0
  notify:
    - update grub
    - reboot required
  tags: [apparmor, grub, config]

- name: AppArmor | Configure | Create custom profiles directory
  ansible.builtin.file:
    path: "{{ apparmor_local_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  tags: [apparmor, profiles, config]

- name: AppArmor | Configure | Deploy custom AppArmor profile for SSH
  ansible.builtin.template:
    src: apparmor.d/usr.sbin.sshd.j2
    dest: "{{ apparmor_profiles_dir }}/usr.sbin.sshd"
    owner: root
    group: root
    mode: '0644'
  notify: reload apparmor profiles
  tags: [apparmor, profiles, ssh, config]

- name: AppArmor | Configure | Deploy custom AppArmor profile for Fail2ban
  ansible.builtin.template:
    src: apparmor.d/usr.bin.fail2ban-server.j2
    dest: "{{ apparmor_profiles_dir }}/usr.bin.fail2ban-server"
    owner: root
    group: root
    mode: '0644'
  notify: reload apparmor profiles
  when: apparmor_enable_fail2ban_profile
  tags: [apparmor, profiles, fail2ban, config]

- name: AppArmor | Configure | Load AppArmor profiles
  ansible.builtin.command: "{{ apparmor_parser_command }} -r {{ apparmor_profiles_dir }}/{{ item }}"
  loop:
    - usr.sbin.sshd
    - usr.bin.fail2ban-server
  when: apparmor_enable_fail2ban_profile or item != 'usr.bin.fail2ban-server'
  failed_when: false
  changed_when: true
  tags: [apparmor, profiles, config]

- name: AppArmor | Configure | Set AppArmor profiles to enforce mode
  ansible.builtin.command: "{{ apparmor_enforce_command }} {{ apparmor_profiles_dir }}/{{ item }}"
  loop: "{{ apparmor_profiles }}"
  when: apparmor_enforce_mode
  failed_when: false
  changed_when: true
  tags: [apparmor, profiles, enforce, config]

- name: AppArmor | Configure | Set AppArmor profiles to complain mode
  ansible.builtin.command: "{{ apparmor_complain_command }} {{ apparmor_profiles_dir }}/{{ item }}"
  loop: "{{ apparmor_profiles }}"
  when: not apparmor_enforce_mode
  failed_when: false
  changed_when: true
  tags: [apparmor, profiles, complain, config]

- name: AppArmor | Configure | Create AppArmor monitoring script
  ansible.builtin.template:
    src: aa-monitor.sh.j2
    dest: /usr/local/bin/aa-monitor
    owner: root
    group: root
    mode: '0755'
  when: apparmor_monitoring_enabled
  tags: [apparmor, monitoring, config]

- name: AppArmor | Configure | Configure AppArmor log rotation
  ansible.builtin.template:
    src: apparmor-logrotate.j2
    dest: /etc/logrotate.d/apparmor
    owner: root
    group: root
    mode: '0644'
  when: apparmor_logrotate_enabled
  tags: [apparmor, logging, config]
