---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: fail2ban-debian13
    image: geerlingguy/docker-debian13-ansible:latest
    pre_build_image: true
    privileged: true
    command: /lib/systemd/systemd
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    tmpfs:
      - /run
      - /tmp

provisioner:
  name: ansible
  config_options:
    defaults:
      callbacks_enabled: profile_tasks, timer
      stdout_callback: yaml
      remote_tmp: /var/tmp
  env:
    ANSIBLE_ROLES_PATH: ../../

verifier:
  name: ansible
