---
# Fail2ban Role - Configuration Tasks

- name: Fail2Ban | Configure | Deploy Fail2ban configuration
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: "0644"
  notify: restart fail2ban
  tags: [fail2ban, config]
