---
# Fail2ban Role - Intrusion Detection

- name: Install Fail2ban
  apt:
    name: fail2ban
    state: present
  tags: packages

- name: Deploy Fail2ban configuration
  template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: '0644'
  notify: restart fail2ban
  tags: config

- name: Enable and start Fail2ban
  systemd:
    name: fail2ban
    enabled: yes
    state: started
  tags: service
