---
# Loki Role - Handlers

- name: restart loki
  ansible.builtin.systemd:
    name: loki
    state: restarted
    daemon_reload: true
  listen: restart loki

- name: reload loki
  ansible.builtin.systemd:
    name: loki
    state: reloaded
  listen: reload loki

- name: validate loki config
  ansible.builtin.command:
    cmd: /usr/bin/loki -config.file={{ loki_config_dir }}/loki.yml -verify-config
  changed_when: false
  listen: restart loki
