---
- name: Security Hardening | Cron | Deploy cron.allow whitelist
  ansible.builtin.template:
    src: cron.allow.j2
    dest: /etc/cron.allow
    owner: root
    group: root
    mode: '0640'
    backup: yes
  tags: [security, cron]

- name: Security Hardening | Cron | Remove cron.deny if exists
  ansible.builtin.file:
    path: /etc/cron.deny
    state: absent
  tags: [security, cron]
