---
- name: Security Hardening | PAM | Deploy su wheel restriction file
  ansible.builtin.template:
    src: pam-su-wheel.j2
    dest: /etc/pam.d/su-wheel
    owner: root
    group: root
    mode: '0644'
  tags: [security, pam]

- name: Security Hardening | PAM | Add wheel restriction to su
  community.general.pamd:
    name: su
    type: auth
    control: substack
    module_path: su-wheel
    state: updated
  tags: [security, pam]
