---
- name: Security Hardening | Password | Configure quality requirements
  ansible.builtin.apt:
    name: libpam-pwquality
    state: present
  tags: [security, password]

- name: Security Hardening | Password | Set quality policy
  ansible.builtin.template:
    src: pwquality.conf.j2
    dest: /etc/security/pwquality.conf
    owner: root
    group: root
    mode: "0644"
  tags: [security, password]
