---
# Prometheus Role - Configuration Tasks

- name: Prometheus | Configure | Generate node exporter targets from inventory
  ansible.builtin.set_fact:
    prometheus_node_targets: "{{ prometheus_node_targets | default([]) + [hostvars[item]['ansible_host'] + ':' + (prometheus_node_exporter_port | string)] }}"
  loop: "{{ groups['monitored_servers'] | default([]) }}"
  when:
    - prometheus_scrape_node_exporter
    - hostvars[item]['ansible_host'] is defined
    - hostvars[item]['node_exporter_enabled'] | default(true)
  tags: [prometheus, config]

- name: Prometheus | Configure | Deploy Prometheus configuration
  ansible.builtin.template:
    src: prometheus.yml.j2
    dest: "{{ prometheus_config_dir }}/prometheus.yml"
    owner: prometheus
    group: prometheus
    mode: "0644"
    validate: "promtool check config %s"
  notify: reload prometheus
  tags: [prometheus, config]

- name: Prometheus | Configure | Deploy alert rules
  ansible.builtin.template:
    src: rules/{{ item.name }}.yml.j2
    dest: "{{ prometheus_rules_dir }}/{{ item.name }}.yml"
    owner: prometheus
    group: prometheus
    mode: "0644"
  loop: "{{ prometheus_default_rules }}"
  when:
    - prometheus_rules_enabled
    - item.enabled | default(true)
  notify: reload prometheus
  tags: [prometheus, rules]

- name: Prometheus | Configure | Deploy web configuration (if auth or TLS enabled)
  ansible.builtin.template:
    src: web.yml.j2
    dest: "{{ prometheus_config_dir }}/web.yml"
    owner: prometheus
    group: prometheus
    mode: "0644"
  when: prometheus_web_basic_auth_enabled or prometheus_tls_enabled
  notify: restart prometheus
  tags: [prometheus, config, security]

- name: Prometheus | Configure | Deploy Prometheus backup script
  ansible.builtin.template:
    src: backup-prometheus.sh.j2
    dest: /usr/local/bin/backup-prometheus.sh
    owner: root
    group: root
    mode: "0755"
  when: prometheus_backup_enabled
  tags: [prometheus, backup]

- name: Prometheus | Configure | Create Prometheus backup cron job
  ansible.builtin.cron:
    name: Prometheus data backup
    minute: "{{ prometheus_backup_schedule.split()[0] }}"
    hour: "{{ prometheus_backup_schedule.split()[1] }}"
    day: "{{ prometheus_backup_schedule.split()[2] }}"
    month: "{{ prometheus_backup_schedule.split()[3] }}"
    weekday: "{{ prometheus_backup_schedule.split()[4] }}"
    user: root
    job: /usr/local/bin/backup-prometheus.sh > /dev/null 2>&1
    state: present
  when: prometheus_backup_enabled
  tags: [prometheus, backup]
