---
# Prometheus Role - Debian/Ubuntu Installation Tasks

- name: Prometheus | Install | Add Prometheus APT repository (DEB822)
  ansible.builtin.deb822_repository:
    name: prometheus
    types: [deb]
    uris: https://s3.amazonaws.com/deb.robustperception.io/debian
    suites: stable
    components: [main]
    signed_by: "{{ prometheus_gpg_key_url }}"
    state: present
  tags: [prometheus, packages]

- name: Prometheus | Install | Install Prometheus and dependencies
  ansible.builtin.apt:
    name: "{{ prometheus_apt_dependencies + ['prometheus'] }}"
    state: present
    update_cache: true
  tags: [prometheus, packages]
