---
# Promtail Role - Handlers

- name: restart promtail
  ansible.builtin.systemd:
    name: promtail
    state: restarted
    daemon_reload: true
  listen: restart promtail

- name: reload promtail
  ansible.builtin.systemd:
    name: promtail
    state: reloaded
  listen: reload promtail

- name: validate promtail config
  ansible.builtin.command:
    cmd: /usr/bin/promtail -config.file={{ promtail_config_dir }}/promtail.yml -dry-run
  changed_when: false
  listen: restart promtail
