---
# Loki Role - Configuration Tasks

- name: Loki | Configure | Deploy Loki configuration
  ansible.builtin.template:
    src: loki.yml.j2
    dest: "{{ loki_config_dir }}/loki.yml"
    owner: "{{ loki_user }}"
    group: "{{ loki_group }}"
    mode: "0640"
  notify: restart loki
  tags: [loki, config]

- name: Loki | Configure | Configure logrotate for Loki
  ansible.builtin.template:
    src: logrotate-loki.j2
    dest: /etc/logrotate.d/loki
    owner: root
    group: root
    mode: "0644"
  when: loki_logrotate_enabled
  tags: [loki, logrotate]

- name: Loki | Configure | Deploy Loki backup script
  ansible.builtin.template:
    src: backup-loki.sh.j2
    dest: /usr/local/bin/backup-loki.sh
    owner: root
    group: root
    mode: "0755"
  when: loki_backup_enabled
  tags: [loki, backup]

- name: Loki | Configure | Create Loki backup cron job
  ansible.builtin.cron:
    name: Loki backup
    minute: "{{ loki_backup_schedule.split()[0] }}"
    hour: "{{ loki_backup_schedule.split()[1] }}"
    day: "{{ loki_backup_schedule.split()[2] }}"
    month: "{{ loki_backup_schedule.split()[3] }}"
    weekday: "{{ loki_backup_schedule.split()[4] }}"
    user: root
    job: /usr/local/bin/backup-loki.sh > /dev/null 2>&1
    state: present
  when: loki_backup_enabled
  tags: [loki, backup]
