---
# Loki Role - Installation Tasks (Multi-platform orchestrator)

- name: Loki | Install | Create Loki group
  ansible.builtin.group:
    name: "{{ loki_group }}"
    state: present
    system: true
  tags: [loki, user]

- name: Loki | Install | Create Loki user
  ansible.builtin.user:
    name: "{{ loki_user }}"
    group: "{{ loki_group }}"
    system: true
    shell: /usr/sbin/nologin
    home: "{{ loki_data_dir }}"
    createhome: false
  tags: [loki, user]

- name: Loki | Install | Include OS-specific installation tasks
  ansible.builtin.include_tasks: "install-{{ ansible_os_family }}.yml"
  when: loki_install_method in ['apt', 'yum', 'dnf']
  tags: [loki, install, packages]
