---
# Molecule configuration for Promtail role testing

dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: promtail-debian13
    image: debian:trixie
    pre_build_image: true
    privileged: true
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host

provisioner:
  name: ansible
  config_options:
    defaults:
      callbacks_enabled: profile_tasks,timer
  inventory:
    host_vars:
      promtail-debian13:
        deploy_promtail: true
        promtail_version: "latest"
        firewall_enabled: false  # Disable firewall in tests

verifier:
  name: ansible

scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - side_effect
    - verify
    - cleanup
    - destroy
